@import '_config';

// CENTRAL STYLING
html{
    // background-color:$background-color;
    color: $primary-text-color;
    font-size:16px;
    height:100%;
    line-height: 24px;
    margin: 0;
    min-height:100%;
    padding:0;
    body{
        padding:0;
        margin: 0;
        font-family: $font-family;
    }
}

// CONTAINERS
header{
    &.card{
        padding: 0;
        @media #{$small-and-down}{
            margin-top: $spacing * 5;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
    picture{
        display: block;
        height: 100vh;
        max-height: 126px;
        @media #{$small-and-down}{
            max-height: 103px;
        }
        img{
            display: table;
            margin: 0 auto;
            max-width: 20rem;
            padding: $spacing 0;
            @media #{$small-and-down}{
                max-width: 15rem;
            }
        }
    }
}
.main-container{
    display: table;
    height:100%;
    margin:0 auto;
    min-height:100%;
    position: relative;
    width: 100%;
}
.container{
    &-full{
        height: 100vh;
        display: flex;
        width: 100vw;
    }
}


// HEADINGS
$head-number: 5;

@while $head-number > 0{
    h#{$head-number}{
        color: $primary-text-color;
        font-size: 1rem + (2rem / $head-number);
        line-height: ((1rem + (2rem / $head-number)) * $golden-ratio );
        font-weight:normal;
        margin: 0;
    }
    $head-number: $head-number - 1;
}


// SEE ALL


// PARAGRAPHS


// IMAGES


// LISTS
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}


// OVERLAY
.overlay{
    background-color: $overlay-background;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 999;
}


// FOOTER
footer{
    position: relative;
    width: 100%;
    margin:0 auto;
}
body:not(.home){
    footer{
        height:20rem;
    }
}