@import '_config';

// CENTRAL STYLING
html{
    // background-color:$background-color;
    color: $primary-text-color;
    font-size:16px;
    height:100%;
    line-height: 24px;
    margin: 0;
    min-height:100%;
    padding:0;
    @media only screen and (max-width : $container + 47){
        overflow-x: hidden;
    }
    body{
        padding:0;
        margin: 0;
        font-family: $font-family;
    }
}

// HEXAGON
.hexagon-container{
    display: table;
    height: 6.5rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: -1px;
    transform: scale(.3);
    width: 5.3rem;
    .skew1{
        top: 2.8rem;
        left: 2.3rem;
        border: 1px solid $dark-gray;
        height: 2.55rem;
        position: absolute;
        transform: rotate(-90deg) translate(0, 0) skew(30deg, 0deg);
        width: 3rem;
    }
    .skew2{
        top: 2.8rem;
        left: -.3rem;
        border: 1px solid $dark-gray;
        height: 2.55rem;
        position: absolute;
        transform: rotate(30deg) translate(0, 0) skew(30deg, 0deg);
        width: 3rem;
    }
    .skew3{
        top: .5rem;
        left: 1rem;
        
        border: 1px solid $dark-gray;
        height: 2.55rem;
        position: absolute;
        transform: rotate(150deg) translate(0, 0) skew(30deg, 0deg);
        width: 3rem;
    }
}

// CONTAINERS
header{
    &.card{
        padding: 0;
        @media #{$small-and-down}{
            margin-top: $spacing * 5;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
    picture{
        display: block;
        height: 100vh;
        max-height: 126px;
        @media #{$small-and-down}{
            max-height: 103px;
        }
        img{
            display: table;
            margin: 0 auto;
            max-width: 20rem;
            padding: $spacing 0;
            @media #{$small-and-down}{
                max-width: 15rem;
            }
        }
    }
}
.main-container{
    display: table;
    height:100%;
    margin:0 auto;
    min-height:100%;
    position: relative;
    width: 100%;
}
.container{
    &-full{
        height: 100vh;
        width: 100vw;
    }
}


// HEADINGS
$head-number: 5;

@while $head-number > 0{
    h#{$head-number}{
        color: $primary-text-color;
        font-size: 1rem + (2rem / $head-number);
        line-height: ((1rem + (2rem / $head-number)) * $golden-ratio );
        font-weight:normal;
        margin: 0;
    }
    $head-number: $head-number - 1;
}


// SEE ALL


// PARAGRAPHS


// IMAGES


// LISTS
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}


// OVERLAY
.overlay{
    background-color: $overlay-background;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 999;
}


// FOOTER
footer{
    position: relative;
    max-width: $container;
    width: 100%;
    display: table;
    margin:0 auto;
}