@import "../../src/sass/config";

article.post{
    padding-top: $padding * 3;
    h1{
        color: $secondary-text-color;
    }
    .post-meta{
        color: $secondary-text-color;
        margin-bottom: $spacing;
    }
    .the-content{
        background-color: transparentize($container-color, .1);
        margin: 0 auto;
        padding: #{$padding} #{$padding * 1.5};
        width:60vw;
    }
    .image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        height: 100vh;
        left: 0;
        padding: 0 $padding;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: -1;
        &:after{
            content: '';
            background-color: $dark-overlay-background;
            display: flex;
            height: 100%;
            width: 100%;
        }
    }
}