@import "../../src/sass/config";

#content{
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    padding: 0 $padding;
    max-width: $container;
    width: 100%;
    @media #{$small-and-down}{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    & > *:nth-child(1){
        margin-right: .5rem;
    }
    & > *:nth-child(2){
        margin-left: .5rem;
        @media #{$small-and-down}{
            margin-left: $margin;
            margin-right: $margin;
            margin-top: 0;
            width: calc(100% - 2rem);
        }
    }
    &.post,
    &.skills{
        flex-direction: column;
        max-width: 750px;
        & > *:nth-child(1){
            margin-right: 0;
        }
    }
    &.skills{
        max-width: $container;
    }
    & + .secondary-action-light{
        margin-bottom: $margin * 3;
    }
}

section.header{
    padding-top: $padding * 3;
    @media #{$small-and-down}{
        padding-left: $padding;
        padding-right: $padding;
        h1{
            font-size: 2.5rem;
            line-height: normal;
            margin: #{$margin} 0 #{$margin * 2};
        }
    }
    h1, h2{
        color: $secondary-text-color;
    }
    h1 {
        font-family: $font-family-thin;
    }
    .post-meta{
        color: $secondary-text-color;
        margin-top: $margin / 2;
        margin-bottom: $margin;
        .day{
            font-family: $font-family-thin;
            font-size: 3rem;
            line-height: 2.2rem;
        }
        .month{
            font-family: $font-family-extra-bold;
            font-size: 1.5rem;
            line-height: 2rem;
            text-transform: lowercase;
        }
        .year{
            font-family: $font-family-thin;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }
}

article.post{
    padding-top: $padding * 3;
    &.black{
        .the-content{
            background-color: transparentize(black, .4);
            color: transparentize($secondary-text-color, .1);
            transition: .3s background-color ease-in-out, .3s color ease-in-out;
        }
    }
    .the-content{
        background-color: transparentize($container-color, .1);
        box-sizing: border-box;
        line-height: unquote($golden-ratio + "rem");
        margin: 0 auto;
        margin-bottom: $margin * 3;
        padding: #{$padding} #{$padding * 1.5};
        position: relative;
        transition: .3s background-color ease-in-out, .3s color ease-in-out;
        width: 100%;
        will-change: background-color, color;
        @media #{$small-and-down}{
            box-sizing: border-box;
            margin-bottom: $margin;
            padding: $padding;
            width: calc(100% - 2rem);
            #projectPhotos{
                margin-left: -$margin;
                margin-right: -$margin * 5;
                width: calc(100% + 2rem);
                .swiper-next,
                .swiper-prev{
                    display: block;
                }
            }
        }
        .swiper-container{
            .slide{
                &.video{
                    padding: 0 !important;
                    iframe{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        #accessibilityCheck{
            background-color: transparentize($container-color, .1);
            display: inline-flex;
            padding: 1px;
            position: absolute;
            right: 0;
            top: calc(-1rem - 4px);
            input{
                display: none;
                &:checked{
                    & + label{
                        border: 1px solid $separator-color;
                        &:after{
                            margin: 1px;
                        }
                    }
                }
            }
            label{
                display: inline-block;
                cursor: pointer;
                height: 1rem;
                width: 1rem;
                &:after{
                    content: '';
                    display: block;
                    height: calc(100% - 2px);
                    margin: 2px 2px 1px 1px;
                    width: calc(100% - 2px);
                }
                &[for="whiteBg"]{
                    &:after{
                        background-color: white;
                    }
                }
                &[for="blackBg"]{
                    &:after{
                        background-color: black;
                    }
                }
            }
        }
        .meta{
            border-top: 1px solid $separator-color;
            display: flex;
            justify-content: center;
            padding: #{$padding / 2} 0;
            > * {
                font-size: .75rem;
                margin: 0 #{$spacing / 2};
            }
        }
    }
    .image{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        height: 100vh;
        left: 0;
        padding: 0 $padding;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: -1;
        &:after{
            content: '';
            background-color: $dark-overlay-background;
            display: flex;
            height: 100%;
            width: 100%;
        }
    }
    #projectPhotos{
        height: 25rem;
        margin-left: -$margin * 1.5;
        margin-top: -$margin;
        width: calc(100% + 3rem);
    }
}

article.project{
    @extend .post;
    max-width: calc(750px - .5rem);
    width: 100%;
}

article.skills{
    @extend .post;

    // TODO: change the way of colering
    color: $secondary-text-color !important;

    width: 100%;
    .the-content{
        background-color: transparent;
        width: 100%;
        .skill{
            $skill-in-a-row: 3;

            box-sizing: border-box;
            display: inline-flex;
            flex-direction: column;
            margin: 0 calc(#{ 1rem / $skill-in-a-row} + 3rem + 1px) $margin;
            // padding: 0 #{$padding * $skill-in-a-row};
            position: relative;
            width: calc((100% / #{$skill-in-a-row}) - 1px - #{$spacing * 7});
            &:hover{
                z-index: 99;
                .skill-meta{
                    opacity: 1;
                    transform: translateY(0);
                    transition: .3s opacity cubic-bezier(0.165, 0.84, 0.44, 1), .3s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }
            }
            .skill-icon{
                align-items: center;
                display: flex;
                justify-content: center;
                z-index: 1;
                svg{
                    height: 5rem;
                    width: 5rem;
                }
            }
            .skill-meta{
                background-color: $dark-overlay-background;
                box-sizing: border-box;
                opacity: 0;
                padding: $padding;
                pointer-events: none;
                position: absolute;
                text-align: center;
                top: 100%;
                transform: translateY(-100%);
                transition: .2s opacity cubic-bezier(0.165, 0.84, 0.44, 1), .3s transform cubic-bezier(0.165, 0.84, 0.44, 1);
                width: 100%;
                will-change: opacity, transform;
                z-index: 0;
                h3{
                    color: $secondary-text-color !important;
                    font-family: $font-family-thin;
                    font-size: 1rem;
                    line-height: $golden-ratio;
                }
                .skill-info{
                    color: $secondary-text-color;
                }
            }
            .skill-bar{
                border: 1px solid $container-color;
                box-sizing: border-box;
                height: 1rem;
                padding: 1px;
                z-index: 1;
                .value{
                    $value-min-amount: 0;
                    $value-max-amount: 5;

                    background-color: $container-color;
                    height: 100%;
                    float: left;
                    margin-right: 1px;
                    opacity: 0;
                    transform: translateX(2rem);
                    transition: .3s opacity cubic-bezier(0.165, 0.84, 0.44, 1), .3s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    width: calc(#{100% / $value-max-amount} - 1px);
                    will-change: opacity, transform;
                    &.appear{
                        @while $value-max-amount >= $value-min-amount{
                            &:nth-child(#{$value-min-amount}n){
                                opacity: 1;
                                transform: translateX(0);
                                transition: .3s opacity cubic-bezier(0.165, 0.84, 0.44, 1), .3s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
                                transition-delay: unquote("." + $value-min-amount + "s");
                            }
                            $value-min-amount: $value-min-amount + 1;
                        }
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

aside{
    margin-top: $margin * 3;
    max-width: calc(450px - .5rem);
    width: 100%;
    @media #{$small-and-down}{
        max-width: 100%;
    }
    &.project-meta{
        section{
            background-color: transparentize($container-color, .1);
            box-sizing: border-box;
            padding: #{$padding} #{$padding * 1.5};
            margin-bottom: $margin;
            transition: .3s background-color ease-in-out, .3s color ease-in-out;
            &:last-child{
                margin-bottom: $margin * 3;            
            }
            .customer-image{
                background-color: transparent;
                box-sizing: border-box;
                display: block;
                margin: 0 auto;
                max-width: 12rem;
                padding: $padding;
                transition: .3s background-color cubic-bezier(0.165, 0.84, 0.44, 1);
                width: 100%;
            }
            .customer{
                font-size: .75rem;
                margin: #{$margin / 2} 0;
                text-align: center;
                &:before,
                &:after{
                    content: '---';
                }
            }
            label{
                display: block;
                color: transparentize($primary-text-color, .75);
                // color: $primary-text-color;
                font-family: $font-family-light;
                font-size: 1.2rem;
                margin-top: #{$margin};
            }
        }
    }
    .black + &{
        section{
            background-color: transparentize(black, .4);
            color: transparentize($secondary-text-color, .1);
            transition: .3s background-color ease-in-out, .3s color ease-in-out;
            label{
                color: transparentize($secondary-text-color, .1);
            }
            .customer-image{
                background-color: $container-color;
                transition: .3s background-color cubic-bezier(0.165, 0.84, 0.44, 1);
                will-change: background-color;
            }
            &.related-projects{
                ul{
                    .project-item{
                        a{
                            .right-side{
                                h4{
                                    color: $secondary-text-color;
                                    transition: .3s color ease-in-out;
                                    will-change: color;
                                }
                                .tags{
                                    color: $secondary-text-color;
                                    transition: .3s color ease-in-out;
                                    will-change: color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .related-projects{
        ul{
            .project-item{
                margin-bottom: $margin;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    &:hover{
                        &:after{
                            opacity: 1;
                            transform: translate(0, 2px) rotate(135deg);
                            transition: opacity .3s cubic-bezier(.27,.79,.28,.97), transform .3s cubic-bezier(.27,.79,.28,.97);
                        }
                    }
                    &:after{
                        border-left: 1px solid $dark-gray;
                        border-top: 1px solid $dark-gray;
                        content: '';
                        height: .5rem;
                        opacity: 0;
                        position: absolute;
                        right: 0;
                        transform: translate(-1rem, 2px) rotate(135deg);
                        transition: opacity .3s cubic-bezier(.27,.79,.28,.97), transform .3s cubic-bezier(.27,.79,.28,.97);
                        width: .5rem;
                        z-index: 1;
                    }
                    .image{
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 3rem;
                        max-width: 4rem;
                        width: 100%;
                    }
                    .right-side{
                        margin-left: $margin;
                        max-width: calc(100% - 5rem);
                        width: 100%;
                        h4{
                            transition: .3s color ease-in-out;
                            will-change: color;
                        }
                        .tags{
                            color: $primary-text-color;
                            font-size: .75rem;
                            font-family: $font-family-thin;
                            transition: .3s color ease-in-out;
                            will-change: color;
                        }
                    }
                }
            }
        }
    }
}