.skills{
    .container-full{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        height: 100%;
        padding: 1rem;
        width: 100% !important;
        .content{
            align-items: center;
            background-color: $dark-overlay-background;
            box-sizing: border-box;
            color: $secondary-text-color !important;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding: 0;
            text-align: center;
            width: 100%;
            article{
                max-width: $container;
            }
        }
    }
}

// PARSE SKILLS HERE
.skill{
    $skill-in-a-row: 3;

    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    margin: 0 calc(#{ 1rem / $skill-in-a-row} + 3rem + 1px) $margin;
    position: relative;
    width: calc((100% / #{$skill-in-a-row}) - 1px - #{$spacing * 7});
    @media #{$medium-and-down}{
        $skill-in-a-row: 2;

        margin: 0 calc(#{ 1rem / $skill-in-a-row} + 3rem + 1px) $margin;
        width: calc((100% / #{$skill-in-a-row}) - 1px - #{$spacing * 7.2});
    }
    @media #{$small-and-down}{
        $skill-in-a-row: 1;

        margin: 0 calc(#{ 1rem / $skill-in-a-row} + 3rem + 1px) $margin;
        width: calc((100% / #{$skill-in-a-row}) - 1px - #{$spacing * 7});
    }
    &:hover{
        z-index: 99;
        .skill-meta{
            opacity: 1;
            transform: translateY(0);
            transition: .3s opacity cubic-bezier(0.165, 0.84, 0.44, 1), .3s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }
    .skill-icon{
        align-items: center;
        display: flex;
        justify-content: center;
        z-index: 1;
        svg{
            height: 5rem;
            width: 5rem;
        }
    }
    .skill-meta{
        background-color: $dark-overlay-background;
        box-sizing: border-box;
        opacity: 0;
        padding: $padding;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: 100%;
        transform: translateY(-100%);
        transition: .2s opacity cubic-bezier(0.165, 0.84, 0.44, 1), .3s transform cubic-bezier(0.165, 0.84, 0.44, 1);
        width: 100%;
        will-change: opacity, transform;
        z-index: 0;
        h3{
            color: $secondary-text-color !important;
            font-family: $font-family-thin;
            font-size: 1rem;
            line-height: $golden-ratio;
        }
        .skill-info{
            color: $secondary-text-color;
        }
    }
    .skill-bar{
        border: 1px solid $container-color;
        box-sizing: border-box;
        height: 1rem;
        overflow: hidden;
        padding: 1px;
        z-index: 1;
        .value{
            $value-min-amount: 0;
            $value-max-amount: 5;

            background-color: $container-color;
            height: 100%;
            float: left;
            margin-right: 1px;
            opacity: 0;
            width: calc(#{100% / $value-max-amount} - 1px);
            &.appear{
                animation: .6s fadeIn cubic-bezier(0.95, 0.05, 0.795, 0.035);
                animation-fill-mode: both;
            
                @while $value-max-amount >= $value-min-amount{
                    &:nth-child(#{$value-min-amount}n){
                        animation-delay: unquote(".")+$value-min-amount * 12+unquote("s");
                    }
                    $value-min-amount: $value-min-amount + 1;
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
        @keyframes fadeIn {
            0%{
                opacity: 0;
                transform: translateX(2rem);
            }
            100%{
                opacity: 1;
                transform: translateX(0);

            }
        }
    }
}