@import "../../sass/config";

#contact{
    display: flex;
    height: 100%;
    width: 100%;
    .contact-container{
        background-position: center center;
        background-size: cover;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        padding: $padding;
        width: 100%;
        .contact-content{
            align-items: center;
            background-color: $dark-overlay-background;
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        h2,
        h4,
        p{
            color: $secondary-text-color;
            font-family: $font-family-light;
        }
        #conversationFormButton{
            margin: #{$spacing * 2} 0;
        }
        p{
            bottom: $spacing;
            position: absolute;
        }
    }
}

.form-container{
    background-color: transparentize($container-color, .1);
    cursor: pointer;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    form{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        pointer-events: none;
        input,
        textarea{
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $dark-gray;
            border-radius: 0;
            color: $primary-text-color;
            min-height: 3rem;
            font-size: 2rem;
            font-family: $font-family-light;
            outline: none;
            pointer-events: all;
            width: 75vw;
            &[data-visible='']{
                display: none;
                opacity: 0;
            }
            &.error{
                &::placeholder{
                    color: $error-color;
                }
                border-color: $error-color;
            }
        }
    }
}